/* #topBar {
    display: inline;
} */

/* #myName {
    width: 30%
} */

#navLinks {
  float: right;
}

/* #navLinks ul {
    list-style-type: none;
} */

#navLinks ul li {
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.sectionHead {
  display: left;
  /* display: block; */
  padding: 10px;
  margin: 10px;
  border: 2px solid green;
  width: 15%;
}

.textBlock {
  width: 75%;
  float: right;
  position: top;
}
