/* #topBar {
    display: inline;
} */

/* #myName {
    width: 30%
} */

#navLinks {
  float: right;
}

/* #navLinks ul {
    list-style-type: none;
} */

#navLinks ul li {
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.sectionHead {
  display: left;
  /* display: block; */
  padding: 10px;
  margin: 10px;
  border: 2px solid green;
  width: 15%;
}

.textBlock {
  width: 75%;
  float: right;
  position: top;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

section {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%;
}

img {
  height: 16rem;
  width: 16rem;
}

#mainPhoto {
  height: 24rem;
  width: 24rem;
}
